div{
    height: 100px;
    width: 100px;
    background-color: red;
}
#ananasik{
    background: url("http://www.iconwanted.com/downloads/fixicon/market/png/128x128/ananas.png");
    height: 128px;
    width: 128px;
    text-align: center;
    margin-left: 650px;
    margin-top: 200px;
}
#ananasik p{
    padding-top: 75px;
    color: darkblue;
    font-weight: bold;
}